<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link  rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        
         <img class="portrait" src="/img/avatar.webp" alt="">
        <p>{{name}}</p>
        <p>This site uses data from <a href="https://mapbox.com" target="_blank">mapbox.com</a> and <a target="_blank"href="https://weatherstack.com/">weatherstack.net</a> </p>
    </div>
    
    {{>footer}}
</body>
</html>